<%- include('../partials/header') %>
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Sign In Form  Giriş Yap</h1>
                        <span class="subheading">Only For Admins</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" style="width:40%;">
    
<form action="/signin" method="POST">
    <div class="form-group">
      <label for="emailaddress">Email address</label>
      <input type="email" class="form-control" id="emailaddress" aria-describedby="emailHelp" placeholder="Email" name="username">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="userPassword">Password</label>
      <input type="password" class="form-control" id="userPassword" placeholder="Password" name="password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<%- include('../partials/footer') %>